.generos {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.generos ul {
  width: 90%;
  padding: 10px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-top: none;
  backdrop-filter: blur(10px);
  transition: 0.3s;
  color: #fff;
  border-bottom-left-radius: 40px;
}
.generos ul:hover {
  transform: translateY(6px);
}

.bn638-hover {
  width: 100px;
  cursor: pointer;
  height: 45px;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.bn638-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn638-hover:focus {
  outline: none;
}

.bn638-hover.bn28 {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
